
.main{ display: flex;}

.container1 {
  height: 100vh;width:800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  gap: 20px;padding: 20px;
}
.bulb {
  width: 700px;
  transition: all 0.4s ease;
}
.container2 {
  height: auto;width:800px;
  display: flex; align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  gap: 20px;padding: 50px;
}

.light {
  
  transition: all 0.4s ease;
}
.light.on {
  filter: drop-shadow(0 0 25px yellow); 
  transform: scale(1.05);}

h1{ }
button {
  padding: 10px 25px;width: 200px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #facc15;
  color: black;
  font-weight: bold;
}

button:hover {
  background: #fde047;
}
